body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#logo {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 50px;
    padding: 10px; 
  }